<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<p>
    <a href="/characters">Characters</a> |
    <a href="/characters/create">Create new character</a>
</p>

<p>
    <a href="/signup">Register</a> |
    <a href="/login">Login</a> |
    <a href="/user-profile">User Profile</a>
    <br>

</p>