<section class="character-details">
    <h2>{{name}}</h2>
    
    <p>
        <strong>Occupation: </strong> {{occupation}} <br />
        <strong>Weapon: </strong> {{weapon}} <br />
    </p>

    <p>
        <form action="/characters/{{this.id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>
</section>

<a href="/characters">Back</a>